<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.show.text">
	<application
		android:allowBackup="true"
		android:label="Show text"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateVisible">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".DisplayMessageActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
	</application>
</manifest>
